<div class="text-center example-container" align="center">
  <mat-form-field>
    <input matInput placeholder="First Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput  placeholder="Phone Number">
  </mat-form-field>
  
  <div class="text-center m-b-20">
    <mat-checkbox class="custom-checkbox" formControlName="terms">
      Is Active
    </mat-checkbox>
  </div>
  <button mat-raised-button  class="btn-block text-uppercase ">
    Submit <i  class="fa fa-circle-o-notch m-l-15 fa-spin f-21"></i>
  </button>
</div>